    <div>
    <ul class="nav nav-tabs nav-justified">
      <li class="active" style="cursor: pointer"><a routerLink="/trip-planning/{{tripPlanId}}/transport/flight"><span>Flight</span></a></li>
      <li style="cursor: pointer"><a routerLink="/trip-planning/{{tripPlanId}}/transport/rail"><span>Rail</span></a></li>
      <li style="cursor: pointer"><a routerLink="/trip-planning/{{tripPlanId}}/transport/bus" ><span>Bus</span></a></li>
      <li style="cursor: pointer"><a routerLink="/trip-planning/{{tripPlanId}}/transport/car" ><span>Car Rental</span></a></li>
    </ul>


    </div>
    <div class="modal-body" style="margin: 15px">
      <router-outlet></router-outlet>
    </div>
