
  <div class="container">
      <div class="alert alert-danger" *ngIf="signInSuccess">
          <a class="close" data-dismiss="alert">&times;</a>
          Entered incorrect password or email
      </div>
    <div class="col-md-12">
        <form class="form-horizontal" #f="ngForm" novalidate (ngSubmit)="signInUser(f.value, f.valid)">
            <div class="form-group">
                <input class="form-control form-input" name="email" type="email" placeholder="Email"
                       required [(ngModel)]="userSignIn.email" #email="ngModel"
                       pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"/>
                <small [hidden]="email.valid || (email.pristine && !f.submitted)">
                    Email is required and format should be <i>john@doe.com</i>.
                </small>
            </div>
            <div class="form-group">
                <input class="form-control form-input" name="password" type="password"
                       [ngModel]="userSignIn.password" #password="ngModel" placeholder="Password"
                       required/>
                <small [hidden]="password.valid || (password.pristine && !f.submitted)">
                    Password is required
                </small>
            </div>
            <div class="form-group" style="width:150px; float:left">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
            </div>
            <div style="padding: 13px 0 0 120px;margin-left: 40px;">
                <a href="/login" class="fade-link"> Forgot password?</a>
            </div>
            <div class="or-sign-in">
                <span>Or Sign in With</span>
                <div class="line">
                </div>
            </div>
            <a href="" class="sign-in-other-a">
                <div class="form-group sign-in-other link">
                    <span><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>Facebook</span>
                </div>
            </a>
            <a href="" class="sign-in-other-a">
                <div class="form-group sign-in-other link sign-in-other-vk" >
                    <span><i class="fa fa-vk fa-lg" aria-hidden="true"></i>VK</span>
                </div>
            </a>
            <a routerLink="/registered" class="sign-in-other-a">
                <div class="form-group sign-in-other sign-in-other-vk link">
                    <span>No account ? Sign up</span>
                </div>
            </a>
        </form>
    </div>
</div>
