
<div class="container"style="min-height: 700px">
    <div  class="row">
        <div class="col-md-6">
            <div>
                <button routerLink="/trip-planning/0" style="position: absolute; margin-left: 8px" type="button" class="btn btn-primary  btn-lg">New trip</button>
                 <h2 class="title">Active trips</h2>
            </div>
            <div *ngFor="let trip of (profileTripsActive | slice:profileTripsActive.length - profileTripsActive.length)">
                <div class="panel trip-panel row">
                    <div class="trip-pic col-md-3" style="padding-left: 0px">
                        <div class="trippic-wrapper">
                            <img class="img-responsive img-trips" src="{{trip?.photo}}" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3><a routerLink="/trip-planning/{{trip?.id}}">{{trip?.name}}</a></h3>
                        <h4>{{trip?.startDate | date :'dd.MM.yyyy' }} - {{trip?.endDate | date :'dd.MM.yyyy'}}</h4>
                    </div>
                    <div class="col-md-2" style="text-align: center; padding-top: 35px;">
                        <button (click)="deleteTrip(trip?.id)" type="button" class="btn btn-primary btn-trips">
                            <i class="fa  fa-times fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="title">Completed trips</h2>
            <div *ngFor="let trip of (profileTripsComplited | slice:profileTripsComplited.length - profileTripsComplited.length )">
                <div class="panel trip-panel row">
                    <div class="trip-pic col-md-3" style="padding-left: 0px">
                        <div class="trippic-wrapper">
                            <img class="img-responsive img-trips" src="{{trip?.img}}" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3><a routerLink="/trip-planning/{{trip?.id}}">{{trip?.name}}</a></h3>
                        <h4>{{trip?.startDate | date :'dd.MM.yyyy'}} - {{trip?.endDate | date :'dd.MM.yyyy'}}</h4>
                    </div>
                    <div class="col-md-2" style="text-align: center; padding-top: 35px;">
                        <button (click)="deleteTrip(trip?.id)" type="button" class="btn btn-primary btn-trips">
                            <i class="fa  fa-times fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


