
<div class="trip-car">
  <div class="from-to">
    <div class="form-group from">
      <label>Pick-up Time</label>
      <input class="form-control" name="pickup-time-date" placeholder="2017-05-29T10:25:OOZ"/>
      <label>Address</label>
      <input class="form-control" name="pickup-address" placeholder="Address"/>
    </div>
    <div class="form-group to">
      <label>Drop-off Time</label>
      <input class="form-control" name="dropoff-time-date" placeholder="2017-05-29T10:25:OOZ"/>
      <label>Address</label>
      <input class="form-control" name="dropoff-address" placeholder="Address"/>
    </div>
  </div>

  <div class="station">
    <div class="form-group">
      <label>Company</label>
      <input class="form-control" name="car-company" placeholder="company"/>
    </div>
    <div class="form-group">
      <label>Car</label>
      <input class="form-control" name="car-model-number" placeholder="model-number"/>
    </div>
  </div>

  <div class="price">
    <div class="form-group">
      <label>Price</label>
      <input class="form-control" name="price" placeholder="5200"/>
    </div>
  </div>
</div>