.form-group {
  display: inline-block;
}

.form-group.to {
  float: right;
}

.from-to input.form-control {
  width: 250px;
}
.station {
  margin-top: 20px;
}

.station input.form-control {
  width: 290px;
}

.price input.form-control {
  width: 290px;
}
