
<div class="dp input-group">
    <pre class="form-control" (click)="staticModal.show()"><em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>


</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabl" aria-hidden="true" >

    <div class="model-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">

                <div style="display:inline-block; min-height:290px;">
                    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
                </div>
                <button type="button" class="btn btn-sm btn-info" (click)="today()">Today</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="clear()">Clear</button>
                <button type="button" class="btn btn-primary pull-right" (click)="staticModal.hide()">
                    Submit<span aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

</div>


