.container{
  background-color: white;
  margin-top: 80px;
  padding-bottom: 15px;
  width: 90%;
  margin-bottom: 20px;
  z-index: 10;
  border-radius: 0.5rem;
  height: 100%;
}
.panel.trip-panel {
  padding: 7px;
  background-color: #edeef0;
}

.trip-pic img {
  border-radius: 2px;
}
.flex {
  padding: 40px 50px 40px 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-itm {
  display: flex;
  flex: 1 1 auto;
  width: 33.3%;
  padding-left: 10px;
}